ConnectionStrings__DefaultConnection=Host=127.0.0.1;Port=5433;Database=finvestimadb;Username=finvestimaadmin;Password=CHANGE_ME
TokenKey=CHANGE_ME
Email__SmtpUser=CHANGE_ME
Email__SmtpPass=CHANGE_ME
Email__From=CHANGE_ME
